@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');

    header {
        background-color: #813e96;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
    }
    
    a {
       color: #a01a1a;  
    }
    
    .year {
        margin: 0.5rem;
        border: 1px solid #bbb;
        padding: 0.75rem;
        background-color: #eee;
    }

    main {
        max-width: 767px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        font-size: 0.8rem;
    }
    
    body {
        font-family: 'Josefin Sans', sans-serif;
        background-color: #be8ad3;
    }
    
    p {
        background-color: white;
        border-radius: 30px 20px 60px 0px;
        padding: 1em;
        font-size: large;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
    }

    h2 {
        background-color: #000000;
        color: #813e96;
        line-height: 40px;
        margin-top: 30px;
        margin-bottom: -20px; 
        font-size: 2.7em;
        text-align: center;
        border-radius: 30px 30px 0px 0px;
        border-top: 5px double;
        padding: 0.5em;
    }

    .second-heading {
        background-color: #000000;
        color: #813e96;
        line-height: 40px;
        margin-top: 30px;
        margin-bottom: 50px; 
        font-size: 2.7em;
        text-align: center;
        border-radius: 30px 30px 0px 0px;
        border-top: 5px double;
        padding: 0.5em;
        padding-bottom: 80px;
    }

    .second-heading-name {
        margin-top: -63px;
    }
    
    .third-heading {
        background-color: #000000;
        color: #813e96;
        line-height: 40px;
        margin-top: 30px;
        margin-bottom: 50px; 
        font-size: 2.7em;
        text-align: center;
        border-radius: 30px 30px 0px 0px;
        border-top: 5px double;
        padding: 0.5em;
        padding-bottom: 120px;
    }

    .third-heading-name {
        margin-top: -63px;
    }

    h3 {
        border-bottom: 5px double;
        background-color: #000000;
        color: #813e96;
        padding: 0.5em;
        text-align: center;
        margin-bottom: -1px;
    }
    
    footer p{
        border-radius: 30px 30px 30px 30px;
    }
    
    @media only screen and (min-width: 37.5em) {
        main {
            grid-template-columns: 1fr 1fr;
            grid-gap: 1em;
        }
    
        main section:nth-child(2) {
            display: block;
        }
    
        main section:nth-child(3) {
            grid-column: span 2;
        }
    }
    
    @media only screen and (min-width: 60em) {
        main{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 0 auto;
            grid-gap: 1em;
            max-width: 900px;
        }
        main section:nth-child(3) {
            grid-column: span 1;
        }
    }
