@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Edu+SA+Beginner&family=Lobster+Two&display=swap');

@media only screen and (min-width: 60em) {

    .header-container {
        font-size: 1em ;
    }

    nav {
        font-family: 'Edu SA Beginner', cursive;
    }

    nav ul {
        align-items: center;
        font-size: 1.3rem ;
        padding: .5rem 1rem;
	    list-style: none ;
	    display: grid;
	    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
	    margin: 30px;
    }

    nav button {
        display: none ;
    }

    footer {
        font-size: .7em ;
    }

    .down-footer {
        font-size: .9rem ;
        display: grid ;
        grid-template-columns: repeat( 6, .7fr ) ;
        padding: 0 ;
    }
}