@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Edu+SA+Beginner&family=Lobster+Two&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lobster Two', cursive;  
  background-color: #CAB1BD;
  padding: 0.5em;
}

body {
  background-color: #C5EFCB;
  font-family: 'Edu SA Beginner', cursive;  
}

#flex-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #A57F60;
}

header {
  font-family: 'DM Serif Display', serif;  
  align-items: left;
  display: flex;
  margin-top: 10px;
  flex-direction: column ;
  color: #758173 ;
  background-color: #CAB1BD ;
  justify-content: right ;
    
  }

#search {
  text-align: right;
}

.social {
	position: absolute;
	right: 30px;
	top: 10px;
}

.socialmedia {
	width: 40px;
}

nav button {
	margin: .2rem 2vw;
}

nav {
	background-color: #eee;
	background: transparent;
	border: none;
	font-size: 0.9rem;
  font-family: 'Edu SA Beginner', cursive;  
	color: #555;
}

nav ul {
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
  }

nav ul.open {
	display: block;
}

nav ul li a {
	display: block;
	padding: .8rem 2vw;
	text-decoration: none;
	color: #333;
	border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li.active a {
	background-color: rgba(0,0,0,0.2);
	color: #566453;
}

nav ul li a:hover {
	background-color: rgba(0,0,0,0.3);
	color: #CAB1BD;
  }

#hamburgerBtn span:nth-child(1) {
	display: block;
}

#hamburgerBtn span:nth-child(2) {
	display: none;
}

#hamburgerBtn.open span:nth-child(1) {
	display: none;
}

#hamburgerBtn.open span:nth-child(2) {
	display: block;
}

.current-date {
	display: flex ;
	flex-direction: row ;
	font-size: 1em ;
	padding: .4em ;
	margin: .8em ;
	justify-content: center;
}

#banner {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 8px;
}

.banner-img {
  margin-top: -10px;
}

main {
  background-color: #C6DEC6;
  padding: 10px;
}

.home-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

img {
  max-width: 100%;
  margin-top: 10px;
}

body {
  background-color: #A9C5A0;
  padding: 10px;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.headline {
  grid-column: 2/5;
  grid-row: 1/2;
  margin-top: -70px;
  margin-bottom: 115px;
  position: relative;
  text-align: center;
}

.home-headline-1 {
  grid-column: 1/4;
  grid-row: 1/2;
  margin-bottom: 25px;
}

.home-paragraph-1 {
  grid-column: 1/4;
  grid-row: 2/3;
  margin-top: -10px;
}

.home-right-img1 {
  grid-column: 4/6;
  grid-row: 1/3;
  border: 0.5px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
  margin-top: 40px;
}

.home-headline-2 {
  grid-column: 4/6;
  grid-row: 3/4;
}

.home-paragraph-2 {
  grid-column: 3/6;
  grid-row: 4/6;
  margin-top: 0px;
}

.home-left-img1 {
  grid-column: 1/3;
  grid-row: 3/6;
  border: 0.5px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
}

.home-headline-3 {
  grid-column: 1/3;
  grid-row: 5/6;
  margin-top: 130px;
}

.home-paragraph-3 {
  grid-column: 1/4;
  grid-row: 6/8;
  margin-top: 0px;
}

.home-right-img2 {
  grid-column: 4/6;
  grid-row: 6/7;
  border: 0.5px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
  margin-top: -50px;
}

.home-headline-4 {
  grid-column: 4/7;
  grid-row: 7/8;
}

.home-paragraph-4 {
  grid-column: 3/7;
  grid-row: 8/10;
  margin-top: 0px;
}

.home-left-img2 {
  grid-column: 1/3;
  grid-row: 7/9;
  border: 0.5px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
  margin-top: 70px;
}

.home-headline-5 {
  grid-column: 1/4;
  grid-row: 9/10;
  margin-top: 40px;
}

.home-paragraph-5 {
  grid-column: 1/4;
  grid-row: 10/12;
  margin-top: 0px;
}

.home-right-img3 {
  grid-column: 4/6;
  border: 0.5px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
  margin-top: -40px;
}

@media screen and (max-width: 550px) {
  .home-grid {
    display: block;
  }
}

.headline-2 {
  text-align: center;
}

.paragraph-1 {
  text-align: center;
}

.weather {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

#res-main {
	margin: auto;
	border: 1px solid #bbb;
	padding: 0.5rem;
	width: 450px;
}

#res-box {
	width: 100%;
	align-items: center;
}

#res-greeting {
	font-size: 1.5rem;
	text-align: center;
}

.label {
	display: inline;
}

#memLev div {
	border: none;
}

#res-main label,
#res-main input,
#res-main textarea,
#res-main select,
#res-main button {
	padding: 0.35rem;
	font-size: 1.1rem;
}

#res-box fieldset label {
  width: 95%;
}

.weather label {
	text-align: right;
}

button {
	grid-column: 1/3;
}

form fieldset {
	margin: 2rem 0;
	border: 1px solid white;
	border-radius: 10px;
	padding: .5rem 2%;
}

form legend {
	color: black;
	margin: 0 1rem;
	padding: 0 .5rem;
}

form label {
	display: block;
	padding-top: 1rem;
	color: black;
	font-size: .8rem;
}

form label input {
	display: block;
	font-size: 1rem;
	border: solid 1px #999;
	border-radius: 4px;
	padding: .75rem;
	color: rgb(0, 0, 0);
	width: 100%;
	background-color: rgba(0,0,0,0.1);
}

#special {
  margin-top: 5px;
  width: 100%;
}

#btnSubmit {
  margin-left: 30%;
}

#reserve-now {
  display: block;
  text-align: center;
}

#reserveBtn {
  display: grid;
  grid-column: 3 / 5;
  grid-row: 1 / 3;
  height: 100px; 
  width: 700px; 
  background: #42553f; 
  color: #ffffff; 
  text-align: center; 
  font-weight: bold; 
  font-size: 300%; 
  line-height: 100px;
  border-radius: 20px;
  margin-top: 60px;
}

#receptionBtn {
  height: auto; 
  width: 20%; 
  background: #42553f; 
  color: #ffffff; 
  text-align: center; 
  font-weight: bold; 
  font-size: 200%; 
  line-height: 70px;
  border-radius: 20px;
  float: left;
}

#missionaryBtn {
  height: auto; 
  width: 40%; 
  background: #42553f; 
  color: #ffffff; 
  text-align: center; 
  font-weight: bold; 
  font-size: 200%; 
  line-height: 70px;
  border-radius: 20px;
}

#reserveBtn:hover {
  background-color: #777;
}

#receptionBtn:hover {
  background-color: #777;
}

#missionaryBtn:hover {
  background-color: #777;
}

#contact-box {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

#contact-info-missionary {
  display: flex;
  margin-left: 500px;
  text-align: center;
}

#contact-info-p {
  margin-top: -6px;
}

#temple-info {
  grid-column: 2 / 4;
}

.reception-heading {
  text-align: center;
}

.reception-info {
  text-align: center;
}

.missionary-heading {
  text-align: center;
}

.miss-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.headline {
  grid-column: 2/5;
  grid-row: 1/2;
  margin-top: -70px;
  margin-bottom: 115px;
  position: relative;
  text-align: center;
}

.miss-headline-1 {
  grid-column: 1/3;
  grid-row: 1/2;
}

.miss-paragraph-1 {
  grid-column: 1/4;
  grid-row: 2/3;
  margin-top: -10px;
}

.miss-right-img1 {
  grid-column: 4/6;
  grid-row: 1/3;
  border: 0.5px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
  margin-top: 40px;
  width: 350px;
  height: auto;
  margin-left: 100px;
  margin-top: 80px;
}

.miss-headline-2 {
  grid-column: 4/6;
  grid-row: 3/4;
  margin-top: 20px;
}

.miss-paragraph-2 {
  grid-column: 3/6;
  grid-row: 4/6;
  margin-top: 0px;
}

.miss-left-img1 {
  grid-column: 1/3;
  grid-row: 3/6;
  border: 0.5px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
  width: 350px;
  height: auto;
  margin-left: 40px;
  margin-top: 90px;
}

.miss-headline-3 {
  grid-column: 1/3;
  grid-row: 5/6;
  margin-top: 250px;
}

.miss-paragraph-3 {
  grid-column: 1/4;
  grid-row: 6/8;
  margin-top: 0px;
}

.miss-right-img2 {
  grid-column: 4/6;
  grid-row: 6/7;
  border: 0.5px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
  margin-top: -40px;
  width: 350px;
  height: auto;
  margin-left: 40px;
}

.miss-headline-4 {
  grid-column: 4/7;
  grid-row: 7/8;
}

.miss-paragraph-4 {
  grid-column: 3/7;
  grid-row: 8/10;
  margin-top: 0px;
}

.miss-left-img2 {
  grid-column: 1/3;
  grid-row: 7/9;
  border: 0.5px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
  margin-top: 70px;
  margin-left: 100px;
  width: 350px;
  height: auto;
}

.miss-headline-5 {
  grid-column: 1/4;
  grid-row: 9/10;
  margin-top: 40px;
}

.miss-paragraph-5 {
  grid-column: 1/4;
  grid-row: 10/12;
  margin-top: 0px;
}

.miss-right-img3 {
  grid-column: 4/6;
  border: 0.5px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
  margin-top: -40px;
}

.down-footer p {
	margin: .2em;
}

.down-footer {
	font-size: 1.4em;
	display: block;
	margin: .3em;
}

footer {
	display: flex;
	flex-direction: column;
	color: #758173;
	background-color: #CAB1BD;
	text-align: center;
	font-size: .6em;
}