@import url('https://fonts.googleapis.com/css2?family=Charm&family=Raleway:wght@200&display=swap');

@media only screen and (min-width: 60em) {

    .header-container {
        font-size: 1em ;
    }

    .current-date {
        font-size: 1em ;
        display: flex ;
	    flex-direction: row ;
	    text-align: center ;
	    background-color: #D9DBF1 ;
	    padding: .4em ;
	    margin: .8em ;
    }

    #banner {
        justify-content: center;
        display: flex ;
        flex-direction: row ;
        font-size: 1.5em ;
        color: #D9DBF1;
        padding: 5px;
        margin: .8em ;
        margin-top: -2px;
    }

    .social {
        position: absolute;
        right: 30px;
        top: 190px;
    }

    .social svg {
        width: 35px;
        height: auto;
    }

    nav ul {
        align-items: center;
        font-size: 1.2rem ;
        padding: .5rem 1rem;
        font-family: 'Raleway', sans-serif;
	    list-style: none ;
	    display: grid;
	    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
	    margin: 30px;
    }

    nav button {
        display: none ;
    }

    main {
        display: grid ;
        grid-template-columns: repeat( 4, 1fr) ;
        grid-template-rows: repeat( 3, 1fr ) ;
    }

    main div, article {
        font-size: 1rem ;
        margin: .6em ;
    }

    .event {
        grid-column: 1/2 ;
        grid-row: 1/2 ;
    }

    .event:hover {
        background-color: rgba(0,0,0,0.06);
	    color: #A57F60;
    }

    #event-rex {
        font-size: 1rem;
        text-align: center;
        margin-top: -8px;
    }

    #event-info {
        font-size: 0.8rem;
        margin-top: -20px;
        text-align: center;
    }

    .weather {
        grid-column: 1/2 ;
        grid-row: 2/3 ;
    }

    #weather {
        font-size: 1.3rem;
        text-align: center;
        padding: 2px;
        margin-top: -8px;
    }

    .join {
        grid-column: 1/2 ;
        grid-row: 3/4 ;
    }

    #join {
        font-size: 1.3rem;
        text-align: center;
        padding: 2px;
    }

    #join-info {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 5px;
    }

    .hero {
        grid-column: 2/4 ;
        grid-row: 1/3 ;
        height: auto ;
        margin-top: 10px;
    }

    .hero-header {
        font-size: 2rem;
        margin-top: 5px;
    }

    #rexburg-pic {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .news-release {
        grid-column: 2/4 ;
        grid-row: 3/4 ;
    }

    #news {
        text-align: center;
        font-size: 1.8rem;
        padding: 1px;
    }

    #news-info {
        margin-top: -10px;
        text-align: center;
        font-size: 1rem;
    }

    .spotlight {
        grid-column: 4/5 ;
        grid-row: 1/4 ;
        height: auto ;
        display: flex ;
        flex-direction: column ;
    }

    #spot3 {
        display: block ;
    }

    #spot-three {
        text-align: center;
        font-size: 1.5rem;
        padding: 3px;
        margin-top: -7px;
    }

    #spot-three-info {
        text-align: center;
        margin-bottom: -7px;
    }

    #airplane {
        height: 60px;
        width: auto;
        display: block;  
        margin-left: auto;  
        margin-right: auto;
        margin-top: -18px;
        margin-bottom: 8px;
    }

    .spot {
        width: auto ;
        height: 100% ;
        margin: 0 ;
    }

    #spot-one {
        font-size: 1.5rem;
        text-align: center;
        padding: 3px;
        margin-top: -8px;
    }

    #slc-pic {
        height: 65px;
        width: auto;
        display: block;  
        margin-left: auto;  
        margin-right: auto;
    }

    #spot-one-info {
        text-align: center;
        font-size: 1rem;
        margin-bottom: -2px;
    }

    #spot-two {
        font-size: 1.5rem;
        text-align: center;
        padding: 3px;
        margin-top: -8px;
    }

    #spot-two-info {
        font-size: 1rem;
        text-align: center;
        margin-bottom: -5px;
    }

    #bear-pic {
        width: 235px;
        height: auto;
        display: block;  
        margin-left: auto;  
        margin-right: auto;
        margin-top: 55px;
        margin-bottom: 15px;
    }

    footer {
        font-size: .7em ;
    }

    .down-footer {
        font-size: .9rem ;
        display: grid ;
        grid-template-columns: repeat( 6, .7fr ) ;
        padding: 0 ;
    }

    hr {
        grid-column: 1/7 ;
    }

    #copyright {
        grid-column: 1/3 ;
    }

    #update {
        grid-column: 5/7 ;
        grid-row: 1/3 ;
    }
}
