@import url('https://fonts.googleapis.com/css2?family=Charm&family=Raleway:wght@200&display=swap');


h1,
h2,
h4,
h5,
h6 {
  font-family: 'Charm', cursive;
  background-color: #D9DBF1;
  padding: 0.5em;
}

h3 {
  font-family: 'Charm', cursive;
}

h1 {
  margin-top: -5px;
}

.year {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
    grid: flex;
    text-align: center;
}

.town {
    margin-bottom: -10px;
}



img {
    margin-left: 0px;
    max-width: 100%;
    margin-top: 10px;
}

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

header {
  align-items: center;
  display: grid;
  margin-top: -10px;
  
}
nav ul {
  text-align: center;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
  margin-left: -80px;
}

nav a:hover {
  color: black;
}

nav {
  color: #73628A;
  padding: 20px;
  line-height: 25px;
}

main {
  background-color: white;
  padding: 5px;
}

body {
  background-color: #F9F9ED;
  padding: 10px;
}

footer {
    text-align: center;
}

form {
  text-align: right;
  padding-bottom: 5px;
  margin-top: 20px;
}