@import url('https://fonts.googleapis.com/css2?family=Charm&family=Raleway:wght@200&display=swap');


h1,
h2,
h4,
h5,
h6 {
  font-family: 'Charm', cursive;
  background-color: #D9DBF1;
  padding: 0.5em;
}

h3 {
  font-family: 'Charm', cursive;
}

h1 {
  margin-top: -5px;
}

.year {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
    grid: flex;
    text-align: center;
}

.town {
    margin-bottom: -10px;
}

img {
    margin-left: 0px;
    max-width: 100%;
    margin-top: 10px;
}

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

header {
  align-items: center;
  display: grid;
  margin-top: -10px;
  
}
nav ul {
  text-align: center;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
  margin-left: -80px;
}

nav a:hover {
  color: black;
}

nav {
  color: #73628A;
  padding: 20px;
  line-height: 25px;
}

main {
  background-color: white;
  padding: 5px;
}

body {
  background-color: #F9F9ED;
  padding: 10px;
}

footer {
    text-align: center;
}

form {
  text-align: right;
  padding-bottom: 5px;
  margin-top: 20px;
}




/* Body */

body {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px ;
}

h1, h2, h3, h4 {
	font-family: "Open Sans", Arial, sans-serif ;
}

/* Header */

header {
	display: flex ;
	flex-direction: column ;
	color: #FFF ;
	background-color: #5f8ce6 ;
	justify-content: center ;
}

.header-container {
	font-size: .7em ;
	margin-right: 1.3em ;
	justify-content: space-between ;
	display: flex ;
	align-items: center ;
	text-align: center ;
}

header img {
	width: 60px ;
	margin: auto ;
}

.current-date {
	text-align: center ;
	font-size: .8em ;
	background-color: #E41A4F ;
	padding: .4em ;
	margin: .8em ;
}

.logo {
	display: flex ;
	padding: 1em ;
	align-items: center ;
	text-align: center ;
}

.social svg {
	width: 25px;
	height: auto;
}

nav {
	order: 3 ;
}

nav button {
	background-color: #80A4ED ;
	font-size: .8rem ;
	color: #FFF ;
	border: 1px solid #FFF ;
}

nav ul li a:hover {
	background-color: #E41A4F ;
}

nav ul li a {
	display: block ;
    padding: .5em ;
    text-decoration: none ;
    color: #FFF ;
}

nav ul {
    display: none ;
}

nav ul.open {
	list-style-type: none ;
    display: block ;
	font-size: 1.4em ;
	margin: .1em ;
}

#hamburgerBtn span:nth-child( 1 ) {
    display: block ;
}

#hamburgerBtn span:nth-child( 2 ) {
    display: none ;
}

#hamburgerBtn.open span:nth-child( 1 ) {
    display: none ;
}

#hamburgerBtn.open span:nth-child( 2 ) {
    display: block ;
}

/* Main */

main div, article {
	font-size: .8rem ;
    color: #E41A4F ;
    background-color: #c4c2c2 ;
	border: 1px solid #a5a5a5 ;
	text-align: left ;
	margin: 1em ;
	padding: 1em ;
	width: auto ;
	height: 200px ;
}

.join {
	display: none ;
}

.spotlight {
	display: flex ;
	flex-direction: column ;
	padding: 1em ;
}

#spot3 {
	display: none ;
}

.spot {
	background-color: #c4c2c2 ;
	border: 1px solid #a5a5a5 ;
	width: auto ;
	height: 150px ;
	padding: 1em ;
}

/* Footer */

footer {
	display: flex ;
	flex-direction: column ;
	color: #FFF ;
	background-color: #5f8ce6 ;
	text-align: center ;
	font-size: .6em ;
}

footer img {
	width: 85px ;
	margin-top: .5em ;
}

footer h2 {
	margin: .2em ;
	font-size: 1.6em ;
}

footer a {
	color: #FFF ;
	text-decoration: none ;
}

.information {
	font-size: 1.5em ;
	padding: .5em ;
}

hr {
	border: none ;
	height: 2px ;
	background: #e4e4e4 ;
	width: 100% ;
}

.down-footer {
	font-size: 1.4em ;
	display: block ;
	margin: .3em ;
}

.down-footer p {
	margin: .2em ;
}



.social {
  margin-left: 750px;
  margin-top: -85px;
}