@import url('https://fonts.googleapis.com/css2?family=Charm&family=Raleway:wght@200&display=swap');

@media only screen and (min-width: 37.5em) {

    .header-container {
        font-size: .8em ;
    }

    .social {
        position: absolute;
        right: 30px;
        top: 10px;
    }

    .current-date {
        font-size: .8em ;
        padding: .6em ;
        display: flex ;
	    flex-direction: row ;
	    text-align: center ;
	    background-color: #D9DBF1 ;
	    margin: .8em ;
    }

    #banner {
        text-align: center;
        display: flex ;
        flex-direction: row ;
        font-size: 1.5em ;
        color: #D9DBF1;
        padding: 8px;
        margin: .8em ;
        margin-top: -2px;
    }

    nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        justify-content: center;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
    }

    nav ul.open {
        font-size: 1.4em ;
        margin: 0 ;
    }

    main div, article {
        margin: .5em ;
    }

    #main {
        display: grid ;
        grid-template-columns: repeat( 3, auto) ;
        grid-template-rows: repeat( 5, auto ) ;
    }

    #event-rex {
        font-size: 1rem;
        text-align: center;
        margin-top: 2px;
        margin-bottom: 25px;
    }

    #event-info {
        font-size: 0.9rem;
        margin-top: -20px;
        text-align: center;
    }

    #rexburg-pic {
        margin: 0 0 0 0;
        width: 100%;
        height: 100%;
    }

    #weather {
        font-size: 1.3rem;
        text-align: center;
        padding: 2px;
        margin-top: -8px;
    }
    
    #wind {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: 5px;
        margin-bottom: -7px;
    }

    #button {
        width: 55px;
        text-align: center;
        margin-left: 40px;
    }

    #weather-pic {
        height: 60px;
        float:left;
        margin-top: 30px;
        margin-right: 50px;
    }

    .hero {
        grid-column: 1/4 ;
        padding: 0;
    }

    .hero-header {
        font-size: 1.5rem;
        position: absolute;
    }

    #logo {
        margin: 10px;
    }

    #title {
        align-self: center;
    }

    #flex-header {
        display: flex;
        flex-direction: row;
        align-content: center;
    }

    .news-release {
        grid-column: 1/4 ;
        grid-row: 2/3 ;
    }

    #news {
        text-align: center;
        font-size: 1.6rem;
        padding: 1px;
        margin-bottom: 25px;
    }

    #news-info {
        text-align: center;
        font-size: 1rem;
        margin-top: -10px;
    }

    .spotlight {
        flex-direction: row ;
        grid-column: 1/4 ;
        grid-row: 3/4 ;
    }

    .join {
        grid-column: 1/4 ;
        grid-row: 4/5 ;
        display: block ;
    }

    #join {
        font-size: 2rem;
        text-align: center;
        padding: 2px;
    }

    #join-info {
        text-align: center;
        font-size: 1.2rem;
        margin-top: 40px;
    }
    
    .event {
        grid-column: 1/3 ;
    }

    .spot {
        width: 100% ;
        height: auto ;
        margin: 3px ;
    }

    #spot-one {
        font-size: 1.15rem;
        text-align: center;
        margin-top: -7px;
        padding: 3px;
    }

    #slc-pic {
        width: 150px;
        height: auto;
        display: block;  
        margin-left: auto;  
        margin-right: auto;
        margin-top: 75px;
        margin-bottom: 10px;
    }

    #spot-one-info {
        text-align: center;
        margin-bottom: -2px;
        font-size: 0.8rem;
    }

    #spot-two {
        font-size: 1.15rem;
        text-align: center;
        margin-top: -7px;
        padding: 3px;
    }

    #spot-two-info {
        font-size: 1rem;
        text-align: center;
        margin-bottom: -2px;
    }

    #bear-pic {
        width: 180px;
        height: auto;
        display: block;  
        margin-left: auto;  
        margin-right: auto;
        margin-top: 55px;
        margin-bottom: 10px;
    }

    footer {
        font-size: .6em ;
        display: grid ;
        grid-template-columns: repeat( 3, 1fr ) ;
    }

    .down-footer {
        grid-column: 1/4 ;
        grid-row: 2/3 ;
        display: grid ;
        grid-template-columns: repeat( 5, .6fr ) ;
    }

    hr {
        grid-column: 1/6 ;
    }

    #copyright {
        grid-column: 1/3 ;
    }

    #update {
        grid-column: 1/6 ;
        grid-row: 3/4 ;
    }

    #name, #class-name, #copyright {
        border-right: 2px solid #FFF ;
    }

    * {
        box-sizing: border-box;
    }
    
    #join-main {
        margin: 5px;
        border: 1px solid #bbb;
        padding: 0.5rem;
        width: 450px;
        background-color: #abe;
    }

    #join-box {
        width: 100%;
        align-items: center;
    }
    
    #join-greeting {
        font-size: 1.5rem;
        text-align: center;
    }
    
    label,
    input,
    textarea,
    select,
    button {
        padding: 0.35rem;
        font-size: 1.1rem;
    }

    button {
        grid-column: 1/3;
    }

    .discoverImgs:hover {
        opacity: 0.6;
    }

}