@import url('https://fonts.googleapis.com/css2?family=Charm&family=Raleway:wght@200&display=swap');

@media only screen and (min-width: 37.5em) {

    .header-container {
        font-size: .8em ;
    }

    header img {
        width: 200px ;
        height: auto;
    }

    .social {
        position: absolute;
        right: 30px;
        top: 127px;
    }

    .current-date {
        font-size: .8em ;
        padding: .6em ;
        display: flex ;
	    flex-direction: row ;
	    text-align: center ;
	    background-color: #D9DBF1 ;
	    margin: .8em ;
    }

    #banner {
        text-align: center;
        display: flex ;
        flex-direction: row ;
        font-size: 1.5em ;
        color: #A57F60;
        background-color: #D9DBF1 ;
        padding: 8px;
        margin: .8em ;
    }

    nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        justify-content: center;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
    }

    nav ul.open {
        font-size: 1.4em ;
        margin: 0 ;
    }

    main div, article {
        margin: .5em ;
    }

    main {
        display: grid ;
        grid-template-columns: repeat( 3, 1fr) ;
        grid-template-rows: repeat( 5, 1fr ) ;
    }

    #event-rex {
        font-size: 1rem;
        text-align: center;
    }

    #event-info {
        font-size: 0.9rem;
        margin-top: -20px;
        text-align: center;
    }

    .hero {
        grid-column: 1/4 ;
        margin-top: 30px;
    }

    .news-release {
        grid-column: 1/4 ;
        grid-row: 2/3 ;
    }

    .spotlight {
        flex-direction: row ;
        grid-column: 1/4 ;
        grid-row: 3/4 ;
    }

    .join {
        grid-column: 1/4 ;
        grid-row: 4/5 ;
        display: block ;
    }
    
    .event {
        grid-column: 1/3 ;
    }

    .spot {
        width: 100% ;
        height: auto ;
        margin: 3px ;
    }

    footer {
        font-size: .6em ;
        display: grid ;
        grid-template-columns: repeat( 3, 1fr ) ;
    }

    .down-footer {
        grid-column: 1/4 ;
        grid-row: 2/3 ;
        display: grid ;
        grid-template-columns: repeat( 5, .6fr ) ;
    }

    hr {
        grid-column: 1/6 ;
    }

    #copyright {
        grid-column: 1/3 ;
    }

    #update {
        grid-column: 1/6 ;
        grid-row: 3/4 ;
    }

    #name, #class-name, #copyright {
        border-right: 2px solid #FFF ;
    }
}