@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

h1 {
    text-align: center;
}

body {
    width: 80%;
    margin: auto;
}

html {
    font-family: 'Ubuntu', sans-serif;
}

table {
    border-collapse: collapse;
    border: 1px solid #acbabc;
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin: auto;
    max-width: 275px;
    box-shadow: 10px 10px 20px #48708a;
}

td,
th {
    border: 1px solid #acbabc;
    padding: 0.5em;
}

th {
    background-color: #5182a0;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: #c8f5d3;
}

tr:nth-child(odd) td {
    background-color: #d3d6d5;
}

caption {
    padding: 10px;
}

tbody {
    font-size: 95%;
}

.special {
    font-style: italic;
}

#header,
#footer {
    background-color: #52bdb7;
}

#header {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#currentGoal {
    background-color: #628ca6;
    color: white;
}

tfoot {
    font-size: 0.8em;
    padding: 0.5em;
    font-weight: bold;
}